body {
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    line-height: 1.6;
    word-wrap: break-word;
    padding: 30px;
    font-size: 16px;
    color: rgb(51, 51, 51);
    overflow: scroll;
    background-color: rgb(255, 255, 255);
}

a:not([href]) { color: inherit; text-decoration: none; }
.absent { color: rgb(204, 0, 0); }
.anchor { position: absolute; top: 0px; left: 0px; display: block; padding-right: 6px; padding-left: 30px; margin-left: -30px; }
.anchor:focus { outline: none; }
h1, h2, h3, h4, h5, h6 { position: relative; margin-top: 1em; margin-bottom: 16px; font-weight: bold; line-height: 1.4; }
h1 .octicon-link, h2 .octicon-link, h3 .octicon-link, h4 .octicon-link, h5 .octicon-link, h6 .octicon-link { display: none; color: rgb(0, 0, 0); vertical-align: middle; }
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor { padding-left: 8px; margin-left: -30px; text-decoration: none; }
h1:hover .anchor .octicon-link, h2:hover .anchor .octicon-link, h3:hover .anchor .octicon-link, h4:hover .anchor .octicon-link, h5:hover .anchor .octicon-link, h6:hover .anchor .octicon-link { display: inline-block; }
h1 tt, h2 tt, h3 tt, h4 tt, h5 tt, h6 tt, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code { font-size: inherit; }
h1 { padding-bottom: 0.3em; font-size: 2.25em; line-height: 1.2; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); }
h1 .anchor { line-height: 1; }
h2 { padding-bottom: 0.3em; font-size: 1.75em; line-height: 1.225; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); }
h2 .anchor { line-height: 1; }
h3 { font-size: 1.5em; line-height: 1.43; }
h3 .anchor { line-height: 1.2; }
h4 { font-size: 1.25em; }
h4 .anchor { line-height: 1.2; }
h5 { font-size: 1em; }
h5 .anchor { line-height: 1.1; }
h6 { font-size: 1em; color: rgb(119, 119, 119); }
h6 .anchor { line-height: 1.1; }
p, blockquote, ul, ol, dl, table, pre { margin-top: 0px; margin-bottom: 16px; }
hr { height: 4px; padding: 0px; margin: 16px 0px; border: 0px none; background-color: rgb(231, 231, 231); }
ul, ol { padding-left: 2em; }
ul.no-list, ol.no-list { padding: 0px; list-style-type: none; }
ul ul, ul ol, ol ol, ol ul { margin-top: 0px; margin-bottom: 0px; }
li > p { margin-top: 16px; }
dl { padding: 0px; }
dl dt { padding: 0px; margin-top: 16px; font-size: 1em; font-style: italic; font-weight: bold; }
dl dd { padding: 0px 16px; margin-bottom: 16px; }
blockquote { padding: 0px 15px; color: rgb(119, 119, 119); border-left-width: 4px; border-left-style: solid; border-left-color: rgb(221, 221, 221); }
blockquote > :first-child { margin-top: 0px; }
blockquote > :last-child { margin-bottom: 0px; }
table { display: block; width: 100%; overflow: auto; word-break: keep-all; }
table th { font-weight: bold; }
table th, table td { padding: 6px 13px; border: 1px solid rgb(221, 221, 221); }
table tr { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 204, 204); background-color: rgb(255, 255, 255); }
table tr:nth-child(2n) { background-color: rgb(248, 248, 248); }
img { max-width: 100%; box-sizing: border-box; }
.emoji { max-width: none; }
span.frame { display: block; overflow: hidden; }
span.frame > span { display: block; float: left; width: auto; padding: 7px; margin: 13px 0px 0px; overflow: hidden; border: 1px solid rgb(221, 221, 221); }
span.frame span img { display: block; float: left; }
span.frame span span { display: block; padding: 5px 0px 0px; clear: both; color: rgb(51, 51, 51); }
span.align-center { display: block; overflow: hidden; clear: both; }
span.align-center > span { display: block; margin: 13px auto 0px; overflow: hidden; text-align: center; }
span.align-center span img { margin: 0px auto; text-align: center; }
span.align-right { display: block; overflow: hidden; clear: both; }
span.align-right > span { display: block; margin: 13px 0px 0px; overflow: hidden; text-align: right; }
span.align-right span img { margin: 0px; text-align: right; }
span.float-left { display: block; float: left; margin-right: 13px; overflow: hidden; }
span.float-left span { margin: 13px 0px 0px; }
span.float-right { display: block; float: right; margin-left: 13px; overflow: hidden; }
span.float-right > span { display: block; margin: 13px auto 0px; overflow: hidden; text-align: right; }
code, tt { padding: 0.2em 0px; margin: 0px; font-size: 85%; border-radius: 3px; background-color: rgba(0, 0, 0, 0.0392157); }
code::before, tt::before, code::after, tt::after { letter-spacing: -0.2em; content: " "; }
code br, tt br { display: none; }
del code { text-decoration: inherit; }
pre > code { padding: 0px; margin: 0px; font-size: 100%; word-break: normal; white-space: pre; border: 0px; background: transparent; }
.highlight { margin-bottom: 16px; }
.highlight pre, pre { padding: 16px; overflow: auto; font-size: 85%; line-height: 1.45; border-radius: 3px; background-color: rgb(247, 247, 247); }
.highlight pre { margin-bottom: 0px; word-break: normal; }
pre { word-wrap: normal; }
pre code, pre tt { display: inline; max-width: initial; padding: 0px; margin: 0px; overflow: initial; line-height: inherit; word-wrap: normal; border: 0px; background-color: transparent; }
pre code::before, pre tt::before, pre code::after, pre tt::after { content: normal; }
kbd { display: inline-block; padding: 3px 5px; font-size: 11px; line-height: 10px; color: rgb(85, 85, 85); vertical-align: middle; border-style: solid; border-width: 1px; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(187, 187, 187); border-radius: 3px; box-shadow: rgb(187, 187, 187) 0px -1px 0px inset; background-color: rgb(252, 252, 252); }
a { color: rgb(51, 122, 183); }
code { color: inherit; }
pre.editor-colors { padding: 0.8em 1em; margin-bottom: 1em; font-size: 0.85em; border-radius: 4px; overflow: auto; }

pre.editor-colors,
.host {
background-color: #282c34;
color: #abb2bf;
}

.comment {
color: #5c6370;
font-style: italic;
}
.comment .markup.link {
color: #5c6370;
}
.entity.name.type {
color: #e5c07b;
}
.entity.other.inherited-class {
color: #98c379;
}
.keyword {
color: #c678dd;
}
.keyword.control {
color: #c678dd;
}
.keyword.operator {
color: #abb2bf;
}
.keyword.other.special-method {
color: #61afef;
}
.keyword.other.unit {
color: #d19a66;
}
.storage {
color: #c678dd;
}
.storage.type.annotation,
.storage.type.primitive {
color: #c678dd;
}
.storage.modifier.package,
.storage.modifier.import {
color: #abb2bf;
}
.constant {
color: #d19a66;
}
.constant.variable {
color: #d19a66;
}
.constant.character.escape {
color: #56b6c2;
}
.constant.numeric {
color: #d19a66;
}
.constant.other.color {
color: #56b6c2;
}
.constant.other.symbol {
color: #56b6c2;
}
.variable {
color: #e06c75;
}
.variable.interpolation {
color: #be5046;
}
.variable.parameter {
color: #abb2bf;
}
.string {
color: #98c379;
}
.string.regexp {
color: #56b6c2;
}
.string.regexp .source.ruby.embedded {
color: #e5c07b;
}
.string.other.link {
color: #e06c75;
}
.punctuation.definition.comment {
color: #5c6370;
}
.punctuation.definition.method-parameters,
.punctuation.definition.function-parameters,
.punctuation.definition.parameters,
.punctuation.definition.separator,
.punctuation.definition.seperator,
.punctuation.definition.array {
color: #abb2bf;
}
.punctuation.definition.heading,
.punctuation.definition.identity {
color: #61afef;
}
.punctuation.definition.bold {
color: #e5c07b;
font-weight: bold;
}
.punctuation.definition.italic {
color: #c678dd;
font-style: italic;
}
.punctuation.section.embedded {
color: #be5046;
}
.punctuation.section.method,
.punctuation.section.class,
.punctuation.section.inner-class {
color: #abb2bf;
}
.support.class {
color: #e5c07b;
}
.support.type {
color: #56b6c2;
}
.support.function {
color: #56b6c2;
}
.support.function.any-method {
color: #61afef;
}
.entity.name.function {
color: #61afef;
}
.entity.name.class,
.entity.name.type.class {
color: #e5c07b;
}
.entity.name.section {
color: #61afef;
}
.entity.name.tag {
color: #e06c75;
}
.entity.other.attribute-name {
color: #d19a66;
}
.entity.other.attribute-name.id {
color: #61afef;
}
.meta.class {
color: #e5c07b;
}
.meta.class.body {
color: #abb2bf;
}
.meta.method-call,
.meta.method {
color: #abb2bf;
}
.meta.definition.variable {
color: #e06c75;
}
.meta.link {
color: #d19a66;
}
.meta.require {
color: #61afef;
}
.meta.selector {
color: #c678dd;
}
.meta.separator {
background-color: #373b41;
color: #abb2bf;
}
.meta.tag {
color: #abb2bf;
}
.underline {
text-decoration: underline;
}
.none {
color: #abb2bf;
}
.invalid.deprecated {
color: #523d14 !important;
background-color: #e0c285 !important;
}
.invalid.illegal {
color: #ffffff !important;
background-color: #e05252 !important;
}
.markup.bold {
color: #d19a66;
font-weight: bold;
}
.markup.changed {
color: #c678dd;
}
.markup.deleted {
color: #e06c75;
}
.markup.italic {
color: #c678dd;
font-style: italic;
}
.markup.heading {
color: #e06c75;
}
.markup.heading .punctuation.definition.heading {
color: #61afef;
}
.markup.link {
color: #c678dd;
}
.markup.inserted {
color: #98c379;
}
.markup.quote {
color: #d19a66;
}
.markup.raw {
color: #98c379;
}
.source.cs .keyword.operator {
color: #c678dd;
}
.source.css .property-name,
.source.css .property-value {
color: #828997;
}
.source.css .property-name.support,
.source.css .property-value.support {
color: #abb2bf;
}
.source.gfm .markup {
-webkit-font-smoothing: auto;
}
.source.gfm .link .entity {
color: #61afef;
}
.source.go .storage.type.string {
color: #c678dd;
}
.source.ini .keyword.other.definition.ini {
color: #e06c75;
}
.source.java .storage.modifier.import {
color: #e5c07b;
}
.source.java .storage.type {
color: #e5c07b;
}
.source.java .keyword.operator.instanceof {
color: #c678dd;
}
.source.java-properties .meta.key-pair {
color: #e06c75;
}
.source.java-properties .meta.key-pair > .punctuation {
color: #abb2bf;
}
.source.js .keyword.operator {
color: #56b6c2;
}
.source.js .keyword.operator.delete,
.source.js .keyword.operator.in,
.source.js .keyword.operator.of,
.source.js .keyword.operator.instanceof,
.source.js .keyword.operator.new,
.source.js .keyword.operator.typeof,
.source.js .keyword.operator.void {
color: #c678dd;
}
.source.json .meta.structure.dictionary.json > .string.quoted.json {
color: #e06c75;
}
.source.json .meta.structure.dictionary.json > .string.quoted.json > .punctuation.string {
color: #e06c75;
}
.source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json,
.source.json .meta.structure.array.json > .value.json > .string.quoted.json,
.source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json > .punctuation,
.source.json .meta.structure.array.json > .value.json > .string.quoted.json > .punctuation {
color: #98c379;
}
.source.json .meta.structure.dictionary.json > .constant.language.json,
.source.json .meta.structure.array.json > .constant.language.json {
color: #56b6c2;
}
